<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="/assets/icons/logo.ico">

	{% if page.url == "/" %}
	<title>{{ site.title }}</title>
	{% else %}
	<title>{{ page.title }} | {{ site.title }}</title>
	{% endif %}

	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/syntax.css" />
</head>

<body>
<div class="layout">

	<!-- Icons set -->
	{% include icons.html %}

	<!-- Left sidebar -->
	{% include left-sidebar.html %}

	<main class="main">
		{% include header.html %}

		<div id="search-overlay" class="search-overlay hidden">
			<div class="search-box">
				<span>Results found</span>
				<ul id="search-results"></ul>
			</div>
		</div>

		<article class="main-content">
			{{ content }}
		</article>

		{% include footer.html %}
	</main>

	<!-- Right sidebar -->
	{% include right-sidebar.html %}
</div>

<!-- Scripts -->
<script src="/assets/js/search.js"></script>
<script src="/assets/js/toc.js"></script>
<script src="/assets/js/keys.js"></script>
<script src="/assets/js/code.js"></script>

</body>
</html>
